@import "tailwindcss";
:root {
  --primary: #37940b;
  --secondary: #7CFC00;
  /* --dark: #222; */
  --light: #f9f9f9;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--light);
  color: var(--dark);
  scroll-behavior: smooth;
}

section {
  padding: 80px 20px;
}

h1, h2 {
  font-weight: 700;
  color: var(--dark);
}

/* a {
  text-decoration: none;
  color: var(--primary);
} */
.custom-dots {
  display: flex;
  gap: 10px;
}

.custom-dot {
  width: 12px;
  height: 12px;
  background: #c8e6c9; /* light lime */
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.custom-dot:hover {
  transform: scale(1.2);
  background: #9ccc65;
}

.custom-dot-active {
  background: #65a30d !important; /* lime-700 */
  width: 20px;
  height: 12px;
  border-radius: 10px;
}
